body {
    background-color: #D5C9B1;
}

.btn {
    background: #593C1C;
    box-shadow: 0 4px 4px rgba(208, 208, 208, 0.25);

    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.container {
    font-family: Inter, cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #593C1C;
}

.container.error {
    text-align: center;
}

.container.error h1 {
    font-size: 5rem;
    margin-bottom: 2%;
}

.container.error p {
    margin-bottom: 4%;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}
