@import "dropdown.css";
@import "searchbar.css";

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    font-family: Inter, cursive;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 2%;
}

.navbar .baloot-logo {
    width: 40%;
    height: 81%;
    left: 2.9%;
    top: 0.5%;
    border-radius: 47px;
    margin-left: 2.9%;
}

.navbar .baloot-brand {
    width: 9.5%;
    height: 62%;
    left: 7.1%;
    top: 28%;

    font-size: 36px;
    line-height: 51px;
    text-align: center;

    color: #A97B47 !important;
}

.navbar .btn {
    width: 7rem;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.navbar .btn.logout {
    text-align: center;

    background-color: #F7F0E9;
    color: #A97B47;
}

.navbar .btn.cart {
    background: #593C1C;
    mix-blend-mode: normal;
    color: #F7F0E9;
}

.navbar .btn.cart.empty {
    background-color: #F7F0E9;
    color: #593C1C;
}

.navbar .btn.cart span:first-child {
    margin-right: 20%;
}

.navbar .btn.cart span:last-child {
    margin-left: 20%;
}

.navbar .text {
    color: #593C1C;

    margin-right: 2rem;
}

button.search {
    display:none
}

img.search {
    cursor:pointer
}