html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* height of the footer */
}

button, input, form, .btn, .filter {
    border-radius: 15px;
}

.bg-lightbrown {
    background-color: #F7F0E9;
}

.bg-brown {
    background-color: #593C1C;
}

footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;

    position: relative;
    bottom: 0;
    width: 100%;
}
