@import "general/navbar.css";
@import "filter.css";
@import "../commodity/card.css";
@import "general/footer.css";

.container.home {
    margin-top: 2%;
    margin-bottom: 4%;
}

.container.home .card {
    width: 18rem;
}