@import "general/navbar.css";
@import "../utils/filter.css";
@import "../utils/card.css";
@import "general/footer.css";

.container.home {
    margin-top: 2%;
    margin-bottom: 4%;
}

.container.home .card {
    width: 18rem;
}